@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400;1,500;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
    --black: #2b2a2c;
    --gray: #6a696b;
    --light-gray: #dedede;
    --white: #fff;
}

*{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

#menu-bar{
    font-size: 2rem;
    color: var(--black);
    cursor: pointer;
    border:  1px solid var(--white);
    border-radius: .5rem;
    padding: .5rem;
    display: none;
}

.btn{
    width: 200px;
    font-size: 16px;
    color: var(--gray);
    text-align: center;
    border: 1px solid var(--gray);
    border-radius: 25px;
    padding: 20px 25px;
    background: none;
    cursor: pointer;
}

.btn:hover{
    background: var(--gray);
    color: var(--white);
}

.heading{
    font-size: 45px;
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-top: 51px;
    margin-bottom: 21px;
}

/* ......header...... */

header .container .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

header .container .inner .user{
   display: flex;
}

header .container .inner .user img{
    border-radius: 50%;
    margin-right: 10px;
}

header .container .inner .user h3{
   font-size: 16px;
   font-weight: bold;
   color: var(--black);
   margin-bottom: 8px;
}

header .container .inner .user p{
    font-size: 12px;
    color: var(--gray);
}


header .container .inner .navbar a{
    color: var(--black);
    font-weight: bold;
    font-size: 14px;
    margin-left: 53px;
}


header .container .inner .navbar a:hover{
    border-bottom: 3px solid var(--black);
    padding-bottom: 5px;
}

/* .......intro....... */

.intro .container .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray);
    padding-bottom: 12px;
}

.intro .container .inner .content h2{
    font-size: 32px;
    font-weight: 200;
    color: var(--black);
    margin-bottom: 12px;
}

.intro .container .inner .content h1{
    font-size: 45px;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 20px;
}

.intro .container .inner .content p{
    font-size: 18px;
    color: var(--gray);
    margin-bottom: 30px;
} 

.intro .container .inner .content .social{
    display: flex;
    margin-bottom: 42px;
}

.intro .container .inner .content .social a{
    margin-left: 11px;
}

.intro .container .inner .content .social a:hover{
    transform: rotate(360deg);
    transition: 1s all;
}


/* ..... work.... */

.work .container .inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .container .inner .box{
    box-shadow: 0px 0px 3px var(--gray);
    border-radius: 10px;
}

.work .container .inner .box:hover{
    box-shadow: 0px 0px 10px var(--black);
    cursor: pointer;
}

.work .container .inner .box .content{
    padding: 19px 15px;
}

.work .container .inner .box .content .category{
    font-size: 12px;
    color: var(--black);
    margin-bottom: 16px;
    text-transform: uppercase;
}

.work .container .inner .box .content .title{
    display: flex;
    justify-content: space-between;
}

.work .container .inner .box .content .title p{
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
    text-transform: uppercase;
}

/* ......about.... */

.about .container .inner{
    display: flex;
    justify-content: center;
    margin-top: 112px;

}

.about .container .inner img{
    padding-left: 71px;
    padding-right: 121px;
    object-fit: cover;
}

.about .container .inner .content h3{
    font-size: 45px;
    font-weight: bold;
    color: var(--black);
    margin-top: 83px;
    margin-bottom: 27px;
}

.about .container .inner .content h2{
    font-size: 92px;
    font-weight: bold;
    color: var(--light-gray);
    margin-bottom: 45px;
}

.about .container .inner .content p{
    font-size: 12px;
    font-weight: 200;
    color: #717071;
    line-height: 25px;
    margin-bottom: 60px;
}

/* .....review..... */

.reviews{
    background: #332f30 url(../images/reviews.png) center no-repeat;
    background-size: cover;
    margin-top: 112px;
    padding: 47px 0 73px;
    position: relative;
}


.reviews .container .inner{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.reviews .container .inner .content{
    color: var(--white);
    font-size: 14px;
    font-weight: 100;
    line-height: 30px;
}

.reviews .container .inner .author{
    position: absolute;
    left: calc(50% - 51px);
    margin-top: 21px;
}

.reviews .container .inner .author h3{
    font-size: 16px;
    font-weight: bold;
    color: var(--black);
    margin: 10px 0;
}

.reviews .container .inner .author p{
    font-size: 14px;
    color: var(--gray);
    font-style: italic;
    margin-bottom: 11px;
}

.reviews .container .inner .author .stars .unactive{
    opacity: .5;
}

/* ..... courses..... */


.courses{
    margin-top: 180px;
}

.courses .container .course_text{
    font-size: 18px;
    color: var(--gray);
    font-weight: 200;
    text-align: center;
    margin-bottom: 61px;
}

.courses .container .inner{
    display: flex;
    flex-wrap: wrap;
}

.courses .container .inner .box{
    width: 33.33%;
}

.courses .container .inner .box .content h4{
    font-size: 18px;
    font-weight: bold;
    margin-top: 26px;
}

.courses .container .inner .box .content h5{
    font-size: 12px;
    margin-top: 15px;
    color: var(--gray);
    font-weight: 400;
    margin-bottom: 29px;
}

.courses .container .inner .box .content p{
    font-size: 12px;
    font-weight: 200;
    color: var(--gray);
    line-height: 24px;
    margin-bottom: 37px;
    padding-right: 20px;
}

.courses .container .inner .box .content .btn{
    width: 128px;
    padding: 12px;
    font-size: 14px;
    font-weight: bold;

}

.courses .container .link{
    text-align: right;
}

.courses .container .link a{
    font-size: 14px;
    color: var(--gray);
    font-weight: 200;
    text-decoration: underline;
}

/* ........ footer....... */

footer{
    background-color: var(--black);
    padding: 23px 0;
    margin-top: 125px;
}

footer .container .inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


footer .container .inner .info{
    display: flex;
}

footer .container .inner .info p{
    color: var(--gray);
    font-size: 14px;
    border-right: 1px solid var(--gray);
    padding-right: 23px;
    margin-right: 17px;
}

footer .container .inner .info .icons a{
    margin-right: 19px;
}


footer .container .inner .navbar a{
    font-size: 14px;
    color: var(--gray);
    margin-left: 18px;
}


@media (max-width: 1200px){
    .container{
        padding: 0 2rem;
    }
}

@media(max-width: 1161px){
    .work .container .inner .box{
        width: 31%;
    }

    .work .container .inner .box img{
        width: 100%;
    }
    .about .container .inner .content h2{
        font-size: 60px;
    }

    .courses .container .inner .box{
        width: 27%; 
        margin: 20px;
    }
    .courses .container .inner .box img{
        width: 100%; 
    }
}


@media(max-width: 1090px){
    .intro .container .inner img{
        display: none;
    }

    .intro .container .inner .content{
        width: 100%;
        text-align: center;
    }
}



@media(max-width:767px){
    header #menu-bar{
        display: initial;
    }

    header .navbar{
     position: absolute;
     top: 100%; left: 0; right: 0;
     background: var(--gray);
     border-top:  .1rem solid rgba(255, 255, 255, .2);
     clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    
    header .navbar.active{
        clip-path: polygon( 0 0, 100% 0 ,100% 100%, 0 100%);
    }

    header .navbar a{
        display: block;
        background: #222;
        margin: 1rem .5rem;
        padding: .5rem;
        border-radius: .5rem;
    }

    .about .container .inner img{
        display: none;
    }
    .about .container .inner .content{
        width: 100%;
    }
}


@media(max-width:570px){
    .work .container .inner .box{
        width: 100%;
        margin-bottom: 20px;
    }

    .courses .container .inner .box{
        width: 100%;
    }
}